<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board - Message</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <%- include('navbar', { links: links }) %>
    <main>
      <header>Message</header>
      <p><%= message.user %></p>
      <p><%= message.text %></p>
      <p><%- message.added.toDateString() %></p>
    </main>
  </body>
</html>