<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Message Board - Message</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <%- include('navbar', { links: links }) %>
    <main>
      <header>Message</header>
      <% if (message[0]) { %>
        <p><%= message[0].author %></p>
        <p><%= message[0].message %></p>
        <p><%- message[0].date.toDateString() %></p>
      <% } else { %>
        <p>Not found.</p>
      <% } %>
    </main>
  </body>
</html>